{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ range $index, $page := where (where (where .Data.Pages "Section" "about") ".Params.active" "!=" false) ".Params.widget" "intro" }}
	{{ $params := dict "root" $ "page" $page }}
	{{ $widget := printf "widgets/%s.html" ( or $page.Params.widget "custom" ) }}
	{{ partial $widget $params }}
{{ end }}


	<div class="container" id="post-list">
		<h1 class="text-center"><a href="{{ (.Site.GetPage "section" "post").Permalink }}">Blog posts</a></h1>
{{ range first 3 (where (where .Data.Pages.ByDate.Reverse "Section" "post") ".Params.draft" "!=" true) }}
		<div class="post">
			<div class="post-header">
				<h2><a href="{{ .URL | urlize }}">{{ .Title }}</a></h2>
				<span class="post-date">{{ .Date.Format "January 2, 2006" }}</span> <span class="post-hour">at {{ dateFormat "15:04" .Date.Local }}</span>
				<span class="post-categories">
					{{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}<a href="{{ "/categories/" | relLangURL }}{{$e | urlize }}">{{- $e -}}</a>{{ end }}
				</span>
				{{ if .Description }}
				<div class="post-description">
					<p>{{ .Description }}</p>
					<div class="text-center">
						<a class="btn btn-secondary align-right" href="{{ .URL }}">Read more</a>
					</div>
				</div>
				{{ else }}
				<div class="post-content">
					{{ .Content }}
				</div>
				{{ end }}
			</div>
		</div>
{{ end }}

<a class="btn btn-primary" href="{{ (.Site.GetPage "section" "post").Permalink }}">Older posts</a>


<!-- Page footer -->
{{ partial "footer_container" . }}
{{ partial "footer.html" . }}
